@value tokens: "../../styles/tokens.module.css";
@value spacer1,spacerLarge,  fontSizeMedium from tokens;

.container {
  padding: spacer1;
}

.button {
  composes: button from "../../styles/components.module.css";
  margin: spacer1 0;
}

.input {
  composes: input from "../../styles/components.module.css";
  margin-left: spacer1;
}

.label {
  display: flex;
  align-items: baseline;
  font-size: fontSizeMedium;
  margin-bottom: spacer1;
}
