@value tokens: "../../styles/tokens.module.css";
@value notblack from tokens;
/* 
.container {
  composes: full from "../../styles/layouts.module.css";
} */

.mask {
  clip-path: ellipse(22% 40%);
}
.img {
  clip-path: ellipse(22% 40%);
  grid-row: 1;
  grid-column: 3;
  width: 18rem;
  margin-left: 11rem;
  margin-top: 11rem;
}
.container {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

.paris {
  grid-row: 1;
  grid-column: 3;
  width: -webkit-fill-available;
}